################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EMS_ReadyKit/CopilotIndices
/.vs
.terraform/
*.tfstate
*.tfstate.*
